#Songs{
    width: 25%;
    text-align: center;
    margin: 30px;
    background-color: #ffffff9f;
    border: gray solid 1px;
    padding: 15px;
    border-radius: 30px;
    background-color: rgba(127, 255, 212, 0.336);
}
#Card_Song{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}